<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex justify-content-between align-items-center">

    <div >
      <h1 style="font-family: 'Times New Roman', Times, serif;"><a href="index.html" style="color: rgb(68, 62, 55);"><img src="../../assets/image/logoicon/logo.ico"> Photo Factory</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link" routerLink=""  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" >Home</a></li>
        <li><a class="nav-link" routerLink="/gallery">Gallery</a></li>
        <li><a class="nav-link" routerLink="/contact">Contact</a></li>
        <li><a class="nav-link" routerLink="/about">About</a></li>
        <li><a class="nav-link" routerLink="/login">Login</a></li>
      </ul>
    </nav><!-- .navbar -->
  </div>
</header><!-- End Header -->
